.hidden {
  display: none !important;
}
.page-quiz{
  display: flex;
  flex-direction: column;
  .literature-sources{
    margin-top: auto;
  }
}
.quiz-wrap {
  padding: 40px 40px 0;
}

.quiz-preview {
  display: flex;

  &__wrap-content {
    flex-shrink: 0;
    width: 56%;
    padding-left: 30px;
  }

  &__img-wrap {
    max-width: 458px;
    width: 45%;
    flex-shrink: 0;
    margin-bottom: 40px;
  }

  &__footer {
    padding-bottom: 60px;
  }

  article {
    margin-bottom: 20px;

    p {
      margin-bottom: 20px;
    }
  }
}

.quiz {
  min-height: 100px;
  margin: 0 auto;
  padding: 20px 0 60px;

  &__footer {
    display: flex;
    width: 100%;

    .btn:disabled,
    .btn_dark:disabled {
      background-color: #EEF3F7;
      color: #A5A8AB;
      border-color: #A5A8AB;
    }
  }

  &__content-part {
    width: 50%;
    padding-bottom: 45px;
  }

  .d-flex {
    flex-wrap: wrap;
  }

  &__step {
    width: 100%;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.19;
    text-align: center;
    color: #61A1F4;
    margin-bottom: 60px;
  }

  .btn_light .btn__icon {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 20px;
  }

  .btn_dark {
    margin-left: 40px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .radio {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  input[type=radio] {
    width: 24px;
    height: 24px;
    margin-right: 28px;
    border-color: #B2B8BF;
  }
}

.quiz__question-sub-title {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
}

.quiz__questions {
  text-align: center;
  margin-bottom: 20px;
}

.quiz-question__title {
  font-size: 25px;
  margin-bottom: 40px;
}

.quiz-question__answers {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.quiz-question__label {
  margin-bottom: 10px;
}

.quiz-question__answers input[type="text"] {
  width: 200px;
  height: 40px;
  padding-left: 10px;
}

.quiz-question__btn {
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.quiz-scale-wrap {
  position: relative;
  max-width: 640px;
  width: 100%;
  margin: 40px auto 150px;
  height: 60px;
  background: linear-gradient(90deg, #28b5f6 32.5%, #ffa724 32.5% 62.5%, #ef5552 62.5% 93%, #e53734 92.5%);

  &:after {
    content: '';
    position: absolute;
    bottom: -16px;
    display: block;
    width: 100%;
    left: 0;
    height: 6px;
    background-color: #316174;
  }

  .triangle-top {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16.5px 40px 16.5px;
    border-color: transparent transparent #316174 transparent;
  }

  .quiz-result-square {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #316174;
    color: #fff;
    padding: 11px;
    min-width: 85px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 0.8;

  }

  .scale-pointer {
    position: absolute;
    bottom: -23px;
    transform: translateX(-50%);
  }
}

.scale-numbers {
  position: relative;
  display: flex;
  padding-bottom: 16px;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  transform: translateY(-100%);
}

.scale-number__item {
  width: 14px;
  text-align: center;
}

.quiz-result-view {
  text-align: center;
  padding: 40px 40px 60px;

  .title_md {
    margin-bottom: 60px;
    color: $blue;

    sup {
      font-size: .95em;
      vertical-align: baseline;
    }
  }

  .links-list {
    display: flex;
    justify-content: center;
    padding-top: 60px;

    &__item {
      width: 50%;
      margin: 0 10px;
      text-align: left;
      background-color: #F4FAFE;
    }
  }
}

.quiz-result__note {
  sup {
    font-size: 1.5em;
    vertical-align: baseline !important;
  }
}

.quiz__question-title {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.quiz-result-text {
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}


@include respond-to($lg) {
  .quiz-scale-wrap .triangle-top {
    margin-bottom: 2px;
  }
}

@include respond-to($md) {
  .quiz-result-view {
    .links-list {
      flex-wrap: wrap;

      &__item {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

@include respond-to($sm) {
  .quiz-scale-wrap .triangle-top {
    margin-bottom: 1px;
  }
}

@include respond-to($md) {
  .quiz-result-view,
  .quiz-wrap {
    padding-right: 0;
    padding-left: 0;
  }
  .quiz__question-sub-title {
    padding-left: 0;
  }
  .quiz-scale-wrap {
    max-width: 470px;
  }
}

@include respond-to($xs) {
  .quiz__footer {
    .btn_light {
      .btn__icon {
        margin: 0;
      }
    }

    .btn_dark {
      margin-left: 16px;
      padding-left: 16px;
      padding-right: 16px;
      text-align: center;
    }

    .mob-hide {
      display: none;
    }

  }

  .quiz-scale-wrap {
    margin-bottom: 134px;
  }

  .quiz-scale-wrap .quiz-result-square {
    font-size: 24px;
    min-width: 50px;
    min-height: 60px;
    bottom: -60px;
  }

  .quiz-scale-wrap .triangle-top {
    margin-bottom: 3px;
  }

  .quiz-result-text {
    font-size: 12px;
  }

  .quiz__step {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .quiz__content-part {
    width: 100%;
    padding-right: 0;
    padding-bottom: 32px;
  }

  .quiz__question-title {
    margin-bottom: 20px;

  }

  .quiz {
    padding-bottom: 40px;
  }
.quiz-wrap{
  padding-top: 16px;
}
  .quiz-result-view {
    padding-top: 0 !important;
  }

  .quiz-result-view .title_md {
    font-size: 24px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
  }
  .quiz-preview {
    display: block;

    &__wrap-content {
      width: 100%;
      margin: 0 auto;
      padding-left: 0;
      article {
        margin-bottom: 40px;
      }
    }

    &__img-wrap {
      width: 100%;
      max-width: 365px;
      margin: 0 auto 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .quiz-wrap {
    .btn_dark {
      width: 100%;
      justify-content: center;
    }
  }
  .quiz-scale-wrap {
    max-width: 280px;
  }
  .quiz-preview__img-wrap {
    margin-bottom: 20px;
  }
  .quiz-preview article {
    margin-bottom: 40px;
  }
  .quiz-preview__footer {
    padding-bottom: 40px;
  }
}