.section-composition {
  position: relative;
  background:url(../assets/img/bg-section/sec-4-1.svg) top left/201px 294px no-repeat;

  min-height: 1150px;

  #particles-js {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    bottom: 100px;
    z-index: -1;
  }

  .section__title {
    max-width: 754px;
    text-align: center;
    margin: 0 auto 66px;
  }

  .section__text {
    text-align: center;
    margin-bottom: 50px;
  }

  .links-list {
    display: flex;
    justify-content: space-between;

    &__item {
      width: 49%;
      background: #F4FAFE;
    }
  }
}

.composition {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin-bottom: 96px;

  &__item {
    font-size: 28px;
    font-weight: 700;
    span{
      font-weight: 400;
    }
    &_1 {
      grid-area: 1 / 5 /8 / 11;
      position: relative;
      padding: 0 4px;

      &:before {
        position: absolute;
        content: '';
        display: block;
        background-image: url(../assets/img/line.svg);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 430px;
        width: 90%;
        height: 430px;
        left: 0;
        top: 0;
      }

    }

    &_2 {
      .composition__card{
        padding-right: 83px;
        text-align: right;
        &-body{
          padding-right: 26px;
        }
      }
      grid-area: 5 / 1 /7/7;
      z-index: 1;
    }

    &_3 {
      grid-area: 2 / 9 /4 / 16;
      z-index: 1;
      .composition__card{
        padding-left: 50px;
        &-body{
          padding-left: 15px;
        }
      }
    }
  }

  &__card {
    display: flex;

  }

  &__card-icon {
    background-repeat: no-repeat;
    background-position: center;
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    background-size: contain;
    &_left {
      background-image: url(../assets/img/i-glicyn.svg);
    }

    &_right {
      background-image: url(../assets/img/mg-elem.svg);
      background-size: 64px;
    }
  }
}

@include respond-to($md) {

}

@include respond-to($sm) {

}

@include respond-to($xs) {

}

@include respond-to($xxs) {

}