.section-indication {
  padding-bottom: 60px;
  background: url(../assets/img/bg-section/sec-5-1.svg) top 45% left 100px/53px 53px no-repeat,
  url(../assets/img/bg-section/sec-5-2.svg) top 17% right/144px 288px no-repeat;

  .section__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
    text-align: center;
  }

  .title {
    text-align: center;
    margin-bottom: 35px;
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    &__item {
      width: 50%;
      padding: 0 20px;
      margin-bottom: 20px;
    }
  }
  .card__icon{
    animation: pulse 1s infinite ease-out;
  }
}


@include respond-to($md) {
  .section-indication {
    background-image: none;

    .card-list__item {
      margin-bottom: 0;
    }
  }
}

@include respond-to($xs) {
  .section-indication {
    .section__title {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }
}

@include respond-to($xxs) {
  .section-indication {
    padding-bottom: 20px;

    .title_sm {
      margin-bottom: 10px;
    }

    .card {
      margin-bottom: 0;
      font-size: 18px;
      &__icon {
        width: 100px;
        height: 100px;
      }
    }

    .card-list__item {
      width: 100%;
    }
  }
}

