.section-application {
  position: relative;
  padding-bottom: 146px;
  &:after{
    position: absolute;
    content: '';
    display: block;
    background-image: url(../assets/img/bg-section/pattern_02.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 111px;
    height: 222px;
    right: 0;
    bottom: 34px;
    z-index: 1;
  }
  &__thumb {
    position: absolute;
    left: 0;
    width: 50vw;
    top: 0;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  &__content {
    padding-right: 42px;
  }

  .section__title {
    margin-bottom: 56px;
  }


  .text_md {
    font-weight: 700;
    line-height: 1.2;
    color: $blue;
    margin-bottom: 10px;
  }

  .card {
    margin-bottom: 15px;
    padding-left: 20px;
    border: 1px solid #DCEDFF;
    &:last-child {
      margin-bottom: 0;
    }
    &__body{
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .col_5{
    position: relative;
    min-height: 633px;
  }
}

@include respond-to($md) {

}

@include respond-to($xs) {

}