.section-application {
  position: relative;
  padding-bottom: 146px;

  &:after {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../assets/img/bg-section/pattern_02.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 111px;
    height: 222px;
    right: 0;
    bottom: 34px;
    z-index: 1;
  }

  &__thumb {
    position: absolute;
    left: 0;
    width: 50vw;
    top: 0;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  &__img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 40.75%;
    transform: translateY(50%) rotate(11deg);
  }

  &__content {
    padding-right: 42px;
  }

  .section__title {
    margin-bottom: 56px;
  }

  .text_md {
    font-weight: 700;
    line-height: 1.2;
    color: $blue;
    margin-bottom: 10px;
  }

  .card {
    margin-bottom: 15px;
    padding-left: 20px;
    border: 1px solid #DCEDFF;
    font-size: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &__body {
      padding-left: 40px;
      padding-right: 40px;
    }

    .card__icon {
      margin-bottom: auto;
    }

    ul {
      padding-left: 15px;
      margin-bottom: 20px;

      > li {
        position: relative;
        padding-left: 25px;
        margin-bottom: 8px;

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #3B4040;
          left: 2px;
          top: 17px;
        }
      }
    }
  }

  .col_5 {
    position: relative;
    min-height: 633px;
  }

  .note {
    position: absolute;
    background-color: #F4FAFE;
    padding: 27px 100px 33px 40px;
    z-index: 2;
    bottom: 0;
    font-size: 24px;
    line-height: 1.14;
    transform: translateY(-120%);

    .text_md {
      color: $text-dark;
    }
  }
}

@include respond-to($lg) {
  .section-application {

    .card {
      font-size: 20px;

      ul > li {
        font-size: 20px;
      }
    }
  }
}

@include respond-to($md) {
  .section-application {
    .card__body {
      padding-left: 30px;
      padding-right: 30px;
    }

    .note {
      font-size: 20px;
    }
  }
}

@include respond-to($sm) {
  .section-application {
    .card__body {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@include respond-to($xs) {
  .section-application {
    .section__title {
      text-align: center;
    }

    .title_md {
      font-size: 24px;

    }

    &__thumb {
      width: 100%;
    }

    .card__icon {
      background-size: 100%;
    }

    &:after {
      display: none;
    }

    .d-flex {
      flex-wrap: wrap;
    }

    .col_7, .col_5 {
      width: 100%;
    }

    &__content {
      padding-bottom: 20px;
      padding-right: 0;
    }

    .col_5 {
      min-height: 0;
      padding-top: 80%;
    }

    .card {
      font-size: 16px;

      ul {
        padding-left: 11px;

        > li {
          padding-left: 23px;
        }
      }

      .text_md {
        margin-bottom: 5px;
      }
    }
  }
}

@include respond-to($xxs) {
  .section-application {
    padding-bottom: 50px;
    .card {
      padding: 10px 0 10px 20px;

      &__icon {
        width: 67px;
        height: 67px;
      }

      .card__body {
        padding-right: 8px;
      }
    }

    .text_md {
      font-size: 20px;
    }

    .col_5 {
      padding-top: 120%;
    }

    &__thumb {
      width: 100vw;

      left: calc((100% - 100vw) / 2);
    }
    &__img {
      transform: translate(-50%, 50%) rotate(11deg);
      left: 50%;
    }
  }
}

@media screen and (max-width: 480px) {
  .section-application .col_5 {
    padding-top: 82%;
  }
}