.section-banner {
  position: relative;
  padding: 0;
  margin-bottom: 100px;
  background-image: linear-gradient(to right, #FAFCFF 0% 50%, #ffffff 50% 100%);

  .slider-btn,
  .anim-up {
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: 1.5s;

    &.anim-active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .anim-right {
    opacity: 0;
    transition: 1s;
    transform: translate(-100%, -50%) !important;

    &.anim-active {
      opacity: 1;
      transform: translate(0%, -50%) !important;
    }
  }

  &__inner {
    position: relative;
    min-height: 742px;
    width: 100%;
    padding-right: 50%;
  }

  &__slogan {
    position: relative;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.14;
    color: #679EE6;
    padding-top: 70px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-color: #DCEDFF;
      height: 1px;
      width: 90%;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  &__content {
    padding-right: 92px;
    padding-bottom: 50px;
  }

  .bg-pattern {
    width: 260px;
    height: 522px;
    background-image: url(../assets/img/bg-section/banner-bg-left.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }

  .section__block-btns {
    display: flex;

    .btn {
      display: flex;
      margin-right: 40px;
    }
  }

  .wrap-slider {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50vw;
    max-width: 960px;
    bottom: 0;

    .slider-btn {
      .desk-hide {
        display: none;
      }
    }

    .btn {
      position: absolute;
      bottom: 46px;
      right: 55px;
      z-index: 100;

      &__icon {
        width: 88px;
        height: 28px;
        margin-left: 22px;
      }
    }
  }

}


.banner-slider {
  height: 100%;

  .icon-mob-show {
    display: none;
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  .slide-on {
    z-index: 4;

    .banner-slider__wrap-img {
      clip-path: inset(0 0 0 0);
    }
  }

  &__wrap-img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 40px 158px;
    transition: 1s clip-path cubic-bezier(0.65, 0.05, 0.36, 1);

    clip-path: inset(0 0 0 100%);
  }

}

@media screen and (max-width: 1660px) {
  .bg-pattern {
    display: none;
  }
}

@include respond-to($lg) {
  .section-banner {
    &__inner {
      min-height: 578px;
    }

    &__slogan {
      font-size: 56px;
    }

    &__content {
      padding-right: 20px;
    }
  }
}

@include respond-to($md) {
  .section-banner {

    &__slogan {
      font-size: 40px;
    }

    .section__block-btns {
      .btn {
        margin-right: 20px;
      }

      .mob-hide {
        display: none;
      }

      .btn_light .btn__icon {
        margin-left: 0;
      }
    }
  }
}

@include respond-to($sm) {
  .section-banner {
    .section__block-btns {
      padding-bottom: 46px;
    }

    &__content {
      padding-bottom: 0;
    }

    .wrap-slider .btn {
      right: 15px;
    }
  }
}

@include respond-to($xs) {
  .section-banner {
    margin-bottom: 0;

    .section__block-btns {
      padding-bottom: 0;
      padding-top: 20px;
    }

    .card {
      max-width: 420px;
    }

    &__inner {
      padding-right: 0;
    }

    &__slogan {
      padding-top: 30px;
      padding-bottom: 20px;
      max-width: 500px;
      margin-bottom: 0;
    }

    .wrap-slider {
      position: relative;
      padding-top: 85%;
      right: 0;
      left: 0;
      width: 100%;
    }

  }
  .banner-slider {
    &__wrap-img {
      align-content: center;
      padding-bottom: 40px;
    }

    .slider-btn {
      padding: 20px;
      top: calc(50% - 31px);
      bottom: auto;
      height: 62px;

      .btn__icon {
        width: 28px;
        height: 18px;
        margin-left: 0;
      }

      .icon-mob-show {
        display: block !important;
      }

      .mob-hide,
      .icon-mob-hide {
        display: none;
      }
    }
  }
}

@include respond-to($xxs) {
  .section-banner {
    padding-top: 0;

    &__content {
      padding-right: 0;
    }

    .card {
      margin-bottom: 0;
      font-size: 16px;

      &__body {
        padding-right: 0;
        padding-left: 13px;
      }
    }

    .wrap-slider {

    }

    .section__block-btns {
      justify-content: space-between;

      .btn {
        margin: 0;
      }
    }

    .wrap-slider {
      width: 100vw;
      margin-top: 20px;
      padding-top: 120px;
      left: calc((100% - 100vw) / 2);
    }
  }
}

@media screen and (max-width: 480px) {
  .section-banner .wrap-slider {
    padding-top: 85%;
  }
}