.section-effects {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../assets/img/bg-section/sec-3-1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 274px;
    width: 14%;
    height: 14vw;
    z-index: 1;
    right: -30px;
    top: -9.5vw;
  }

  .section__title {
    text-align: center;
    width: max-content;
    margin: 0 auto 20px;
  }

  .section__block-btns {
    padding-top: 40px;
  }

  .sub-title {
    position: relative;
    max-width: 996px;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    margin: 0 auto 60px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 183px;
      height: 4px;
      background-color: #DCEDFF;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }

  .slider-nav {
    position: relative;
    padding-top: 88px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      height: 1px;
      background-color: #F0F6FA;
      left: 7%;
      right: 7%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.consequent-slider {
  width: calc(100% + (100vw - 100%) / 2);
  margin-bottom: 60px;
  overflow: visible;
}

.consequent {
  width: 657px;
  font-size: 24px;
  line-height: 1.2;
  display: flex;
  background: linear-gradient(to bottom, #F9FCFE 0 90%, transparent 90% 100%);
  height: auto;

  &__bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 345px;
    width: 20%;
    max-width: 120px;
    flex-shrink: 0;
  }

  &__content {
    width: 100%;
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: auto;
    padding: 40px 30px 30px;

    &_1 {
      background-image: url(../assets/img/sl-1.png);
    }

    &_2 {
      background-image: url(../assets/img/sl-2.png);
    }

    &_3 {
      background-image: url(../assets/img/sl-6.png);
    }

    &_4 {
      background-image: url(../assets/img/sl-3.png);
    }

    &_5 {
      background-image: url(../assets/img/sl-4.png);
    }

    &_6 {
      background-image: url(../assets/img/sl-5.png);
    }
  }

  &__icon {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 20px;
  }


  &__text {
    position: relative;
    margin: 0 auto;
    padding: 25px 40px;
    border-top: 1px solid #F0F6FA;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 2px;
      top: 50%;
      transform: translateY(-50%);
      height: 65%;
      left: 0;
      background-color: $blue;
      z-index: 1;
    }
  }

}

@include respond-to($lg) {
  .section-effects {
    &:before {
      top: -4.5vw;
    }
  }
}

@include respond-to($sm) {

}

@include respond-to($xs) {

}

@include respond-to($xxs) {

}