.section-banner {
  padding-top: 0;

  .col_6 {
    min-height: 742px;
  }

  &__slogan {
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
    color: #679EE6;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #DCEDFF;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-right: 92px;
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #FAFCFF;
  }

  .section__block-btns {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  .wrap-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw;
    max-width: 960px;
    bottom: 0;

    .btn {
      position: absolute;
      bottom: 46px;
      right: 55px;
      z-index: 100;

      &__icon {
        width: 88px;
        height: 32px;
        margin-left: 22px;
      }
    }
  }

}

.card {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;

  &__icon {
    height: 64px;
    width: 60px;
  }

  &__body {
    padding: 5px 10px 5px 32px;
  }
}


.banner-slider {
  height: 100%;

  &__slide {
    position: relative;
    overflow: hidden;
  }

  &__wrap-img {
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100%;

    background-color: transparent;
  }

  &__img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .animated {
    .banner-slider__wrap-img {

      //transform-origin:  100% 0;
      animation: zoom 1s;
      clip-path: inset(0 0 0 0);
    }
  }
}

@keyframes zoom {
  from {
    //transform: scale(1.15, 1.15);
    width: 0;
  }
  to {
    //transform: scale(1, 1);
    width: 100%;
  }
}

@include respond-to($lg) {

}

@include respond-to($md) {
  .section-banner {

  }
}

@include respond-to($xs) {
  .section-banner {


  }
}

@include respond-to($xxs) {
  .section-banner {

  }
}