.btn {
  display: inline-flex;
  cursor: pointer;
  line-height: 1;
  transition: .5s;
  align-items: center;

  &__icon {
    display: inline-block;
    margin-left: 20px;
    width: 24px;
    height: 24px;
  }

  &_main {
    text-align: center;
    font-family: $main-font;
    font-weight: 700;
    font-size: 24px;
    border: 1px solid $blue;
    padding: 20px 40px;
    text-transform: uppercase;
  }

  &_dark {
    background-color: $blue;
    color: $light;

    &:hover,
    &:focus {
      background-color: #548CD4;
    }
  }

  &_light {
    background-color: #ffffff;
    color: $blue;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #548CD4;
    }
  }

  &_warm {
    background-color: #FAB05C;
    border-color: #FAB05C;
    color: #F4FAFE;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 8px;
      left: -8px;
      top: -1px;
      bottom: -1px;
      background-color: #F99A31;
      z-index: 1;
    }

    &:hover,
    &:focus {
      background-color: $blue;
      border-color: $blue;
     &:before{
        background-color:  #548CD4;
      }
    }
  }
  @include respond-to($md){
    &_main{
      font-size: 20px;
      padding-left: 35px;
      padding-right: 35px;
    }
    .mob-hide{
      display: none;
    }
    &_light .btn__icon{
      margin-left: 0;
    }
  }
}







