
.menu {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: $text-dark;
    margin: 0 20px;
    transition: .35s;

    .sub-menu {
      width: max-content;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      background: #ffffff;
      margin-top: 40px;
      border-bottom: 3px solid $blue;
      padding: 22px 20px 22px 43px;
      transition: all 0.35s ease;
      box-shadow: 0 0 13px rgba(97, 161, 244, 0.15);
      cursor: default;
      text-align: left;
      left: -20px;
      top: 100%;
      min-width: 266px;
      z-index: -1;

      > li:hover {
        color: $blue;
      }

      &__item {
        position: relative;
        display: flex;
        align-items: baseline;
        font-weight: 400;

        &:last-child {
          margin-bottom: 0;
        }

        > a {
          display: inline-block;
          padding: 8px 0;
        }
      }

      &__toggle {
        display: inline-block !important;
        background-image: url("../assets/img/arrow-ios-downward.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        transition: .35s;

        &_active {
          transform: rotate(180deg);
        }
      }
    }

    .show {
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }
  }

  &__link {
    display: block;
    padding: 10px 0;
    transition: .25s;

    &:hover,
    &:focus {
      color: $blue;
    }
  }

  .sub-menu {
    counter-reset: list;

    li:before {
      counter-increment: list;
      content: counters(list, '. ', decimal-leading-zero) ".";
      position: absolute;
      left: -20px;
      top: 15px;
      font-size: 12px;
      margin-right: 6px;
    }

    &__item:hover,
    &__item:focus {
      -webkit-text-stroke-width: .9px;
    }
  }
}

.dropdown {
  display: flex;
  align-items: center;
  padding: 0  3px;
}


@include respond-to($md) {

  .menu__item .sub-menu__item {
    margin: 0 0 10px;
  }

  .sub-menu__toggle_active + .sub-menu {
    display: block !important;
    position: static;
    visibility: visible;
    opacity: 1;
    transform: none;
  }

  .dropdown > .menu__link {
    display: inline-block;
    padding-right: 15px;
  }
}

