.popup {
  position: fixed;
  height: 577px;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #ffffff;
  font-family: $main-font;
  text-align: center;
  max-width: 800px;
  width: 100%;
  padding: 40px;
  display: none;
  z-index: 1500;

  p {
    margin-bottom: 10px;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    position: relative;
    padding-bottom: 20px;
  }

  .section__title {
    font-size: 22px;
    margin-bottom: 0;
  }

  &__body {
    padding: 0 7px 40px;

  }

  .btn {
    font-size: 20px;
    padding: 13px 15px;
  }


  .btn_close {
    width: 40px;
    height: 40px;
    position: absolute;
    padding: 10px;
    right: -30px;
    top: -30px;
    background-image: none;
    display: flex !important;

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .small-text {
    display: block;
    max-width: 290px;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
  }
}

@include respond-to($xs) {
  .popup {
    max-width: 704px;
    height: 717px;

    &__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .btn {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include respond-to($xxs) {
  .popup {
    padding: 60px 24px;
    height: 100vh;

    .section__title {
      font-size: 22px;
    }
  }
}


.popup_big {
  overflow: auto;
  text-align: left;
  padding: 0 0 10px;
  height: 80%;
  top: 70px;
  transform: translateX(-50%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  font-size: 14px;
  max-width: 950px;


  .popup__header {
    position: relative;
    padding: 20px;
    background: linear-gradient(42.54deg, #2CD2D9 0%, #25B2B8 100%);
    color: #fff;
    text-align: center;

    h2 {
      padding: 0;
      margin: 0;
      font-size: 28px;
    }
  }

  .popup__body {
    background: #fff;
    padding: 20px;
  }

  .popup__contact-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    text-align: center;
  }

  .popup__contact-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;

    img {
      max-height: 200px;
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }

  .popup__contact-block {
    background: linear-gradient(42.54deg, #2CD2D9 0%, #25B2B8 100%);
    color: #fff;
    padding: 15px;
    border-radius: 0 0 10px 10px;
  }

  .popup__content {
    font-size: 14px;
    line-height: 1.57;
    padding-top: 20px;
  }

  .popup__logo {
    display: inline-block;
    width: 175px;
    height: auto;

    img {
      width: 100%;
    }
  }

  .popup__footer {
    text-align: center;
  }

  .btn_close {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
}

@include respond-to($xs) {
  .popup_big {
    .popup__contact-item {
      max-width: 420px;
      flex: 0 0 100%;
    }
  }
}

@include respond-to($xxs) {
  .popup_big {
    padding: 0 0 15px;
    height: 717px;

    .popup__contact-item {
      max-width: 100%;
    }

    .popup__header h2 {
      font-size: 23px;
    }
  }
}

