$main-font: 'Exo 2', sans-serif;


$blue: #61A1F4;
$white: #ffffff;
$light: #F4FAFE;;
$text-dark: #343F3E;
;


// Screen Variables

$xxs: '(max-width: 480px)';
$xs: '(max-width: 767px)';
$sm: '(max-width: 992px)';
$md: '(max-width: 1160px)';
$lg: '(max-width: 1280px)';
$xl: '(max-width: 1440px)';




