.btn_burger,
.btn_close {
  display: none;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
}

.btn_burger {
  background-image: url(../assets/img/burger.svg);
  margin-right: 54px;

}

.btn_close {
  position: absolute;
  background-image: url(../assets/img/close.svg);
  left: 15px;
  top: 15px;
}


.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color: #334040;
  background-color: transparent;
  z-index: 1000;
  padding: 30px 0 24px;
  transition: .35s;

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  &__logo-site {
    display: block;
    width: 183px;

    img {
      vertical-align: middle;
    }

  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .menu_2 {
    border: 1px dashed rgba(61, 64, 77, 0.15);
    border-radius: 5px;
    margin-left: 100px;
  }

  .nav {

    &__inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__footer {
      display: none;
    }
  }
}


@include respond-to($md) {
  .header {
    padding: 20px 0;

    .nav {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      background-color: #ffffff;
      padding: 100px 15px 20px;
      transition: transform .5s;
      transform: translateX(-100%);
      z-index: 999;

      &.open {
        transform: translateX(0);
      }

      &__inner {
        justify-content: flex-start;
        max-height: 100%;
        height: 100%;
        overflow-y: auto;
        flex-direction: column;
      }

      &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .menu {
      margin-bottom: 50px;
    }

    .menu_2 {
      margin-left: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .btn_burger {
    display: block !important;
  }

}
